    <!-- Pie de pagina  -->
    <br><br>
    <footer class="footer">
        <div class="footer__redes">
            <a class="redes__link mx-2" href="#" target="_blank"
                rel="noopener" alt="" title="instagram"><i
                    class="fab fa-instagram"></i></a>
            <a class="redes__link mx-2" href="#" target="_blank" rel="noopener"
                alt="" title="facebook"><i class="fab fa-facebook-f"></i></a>
        </div>
    </footer>